.container {
  font-family: var(--font-family-lobster);
  height: 50vh;
  width: 100%;
  position: relative;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-md);
}

.hero {
  opacity: 0.6;
}

@media (min-width: 40rem) {
  .heroContent {
    font-size: var(--font-size-xl);
  }
}
