.container {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

.about {
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-family: var(--font-family-roboto);
}

.about p,
.about h2 {
  margin: 0.75rem 0;
}

.blockquote {
  font-size: var(--font-size-base);
  width: 80%;
  margin: 50px auto;
  font-family: var(--font-family-roboto);
  font-style: italic;
  color: #555555;
  padding: 1.2rem 30px 1.2rem 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

.blockquote::before {
  content: '\201C';
  color: #78c0a8;
  font-size: var(--font-size-xxl);
  position: absolute;
  left: 10px;
  top: -10px;
}

.blockquote::after {
  content: '';
}

.blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
}

.formContainer {
  background-color: #78c0a8;
  padding: 1.25rem 1.5rem;
  border: 3px solid #555555;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (min-width: 40rem) {
  .container {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }
}
