.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0.5rem 1rem;
}

.header {
  font-family: var(--font-family-lobster);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  padding: 0.5rem 0.75rem;
}

.frontmatterDiv {
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-family: var(--font-family-roboto);
  white-space: pre-line;
  font-weight: 800;
}

.markdown {
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-family: var(--font-family-roboto);
  white-space: pre-line;
  margin-top: 0.25rem;
}

.map {
  padding: 0.5rem 0;
}

@media (min-width: 70rem) {
  .container {
    margin: 0 20%;
  }
}
