.header {
  font-family: 'Lobster', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: var(--font-size-md);
}

.markdown {
  font-size: var(--font-size-base);
  line-height: 1.6;
  margin: 0 auto;
  max-width: 90%;
}

.frontmatterDiv {
  margin: 0 auto;
  max-width: 90%;
}

.map {
  margin: 0 auto;
  max-width: 90%;
}
