.container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.header {
  font-family: 'Lobster', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  padding: 0.5em 0.75em;
}

.markdown {
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 70rem) {
  .container {
    margin: 0 20%;
  }
}
