.container {
  background-color: black;
  padding: 0 0.5em;
}

.copyright {
  color: whitesmoke;
}

.menu h1 {
  font-family: 'Lobster', sans-serif;
  font-size: var(--font-size-md);
  background-color: black;
  color: whitesmoke;
  font-size: var(--font-size-lg);
  display: inline;
}

.menu > ul > li {
  color: white;
  list-style-type: none;
}

.socials {
  color: white;
  font-size: 2.6rem;
}

@media (min-width: 40rem) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
