.container {
    background-color: black;
   
}

.copyright {
    color: white;
}

.menu > ul > li {
    color: white;
    list-style-type: none;
}

.socials {
    color: white;
    font-size: 1.6rem;
}
