.container {
    background-color: black;
   /* position: absolute;
   bottom: 0;
   right: 0;
   left: 0; */
}

.copyright {
    color: white;
}

.menu > ul > li {
    color: white;
    list-style-type: none;
}

.socials {
    color: white;
    font-size: 1.6rem;
}

/* Non mobile position:absolute for footer */