@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-sm: clamp(0.8rem, calc(0.17vw + 0.76rem), 0.89rem);
  --font-size-base: clamp(1rem, calc(0.34vw + 0.91rem), 1.19rem);
  --font-size-md: clamp(1.25rem, calc(0.61vw + 1.1rem), 1.58rem);
  --font-size-lg: clamp(1.56rem, calc(1vw + 1.31rem), 2.11rem);
  --font-size-xl: clamp(1.95rem, calc(1.56vw + 1.56rem), 2.81rem);
  --font-size-xxl: clamp(2.44rem, calc(2.38vw + 1.85rem), 3.75rem);
  --font-size-xxxl: clamp(3.05rem, calc(3.54vw + 2.17rem), 5rem);
  --font-family-lobster: 'Lobster', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f3;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5rem 1.5rem 0;
  font-size: 1.15rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8rem;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
