
.container {
    margin: 4rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    overflow-x: scroll;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (min-width: 40em) {
    .container {
        grid-auto-flow: column;
        margin: 8rem auto;
    }
} */