
.container {
    margin: 4rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 70rem) {
    .container {
        grid-auto-flow: column;
    }
}