@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font-size-sm: clamp(0.8rem, calc(0.17vw + 0.76rem), 0.89rem);
  --font-size-base: clamp(1rem, calc(0.34vw + 0.91rem), 1.19rem);
  --font-size-md: clamp(1.25rem, calc(0.61vw + 1.1rem), 1.58rem);
  --font-size-lg: clamp(1.56rem, calc(1vw + 1.31rem), 2.11rem);
  --font-size-xl: clamp(1.95rem, calc(1.56vw + 1.56rem), 2.81rem);
  --font-size-xxl: clamp(2.44rem, calc(2.38vw + 1.85rem), 3.75rem);
  --font-size-xxxl: clamp(3.05rem, calc(3.54vw + 2.17rem), 5rem);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f3;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p,
h1 {
  margin: 0;
  padding: 0;
}
